
.music{
    margin:48px;
}

.coverImage{
    width:300px;
    height:300px;
    border-radius: 300px;
}

.coverImage img{
    width: 300px;
    height: 300px;
}

.lyric-wrapper{
    display: inline-block;
    vertical-align: top;
    width:60%;
    height: 530px;
    margin-left: 50px;
    overflow: scroll;
}

.lyric-content{
    line-height: 40px;
}

.lyric-content p.highlight{
    color: rgba(144,144,144,1)
}