
.music{
    margin:48px;
}

.coverImage{
    width:300px;
    height:300px;
    border-radius: 300px;
}

.lyric{
    display: inline-block;
    vertical-align: top;
    /* 滚动条样式设置 */
    width:50%;
    margin-left: 50px;
}
.lyric h1{
    font-size: 22px;
    margin: 16px 0;
}

.lyric span{
    margin-right:16px;
}

.lyric p{
    white-space: pre;
    line-height: 40px;
    font-size: 14px;
    height: 500px;
    overflow: scroll;
}